In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import csv
import math
import matplotlib.pyplot as plt
from scipy.signal import hilbert, chirp
import scipy

In [4]:
c_dist = ['Timestamp','vIDa', 'vIDb', 'dist_ab', 'v_a_Type', 'v_a_Vel', 'v_a_Line', 'v_a_Pred', 'v_a_Foll']

data_dist = pd.read_table('D:\\zzzLola\\PhD\\DataSet\\US101\\test\\dist_1000ts.txt', sep='\t', header=None, names=c_dist)

In [5]:
c_vehic = ['vIDa', 'count','mean_vel']

data_vehic = pd.read_table('D:\\zzzLola\\PhD\\DataSet\\US101\\test\\vehi_1000ts.txt', sep='\t', header=None, names=c_vehic)

In [6]:
dataset = pd.merge(data_dist,data_vehic, on = 'vIDa')

In [7]:
dataset['dist_ab'] = dataset.dist_ab * 0.3048
dataset['v_a_Vel'] = dataset.v_a_Vel * 0.3048
dataset['mean_vel'] = dataset.mean_vel * 0.3048
dataset[:10]

,Timestamp,vIDa,vIDb,dist_ab,v_a_Type,v_a_Vel,v_a_Line,v_a_Pred,v_a_Foll,count,mean_vel
0,1.118847e+12,1073,1077,26.760834,2,18.263616,2,0,1083,22,18.18894
1,1.118847e+12,1073,1080,9.739521,2,18.263616,2,0,1083,22,18.18894
2,1.118847e+12,1073,1081,19.198605,2,18.263616,2,0,1083,22,18.18894
3,1.118847e+12,1073,1082,20.679750,2,18.263616,2,0,1083,22,18.18894
4,1.118847e+12,1073,1083,56.396881,2,18.263616,2,0,1083,22,18.18894
5,1.118847e+12,1073,1084,40.510313,2,18.263616,2,0,1083,22,18.18894
6,1.118847e+12,1073,1086,56.592865,2,18.263616,2,0,1083,22,18.18894
7,1.118847e+12,1073,1087,19.093697,2,18.263616,2,0,1083,22,18.18894
8,1.118847e+12,1073,1088,83.171880,2,18.263616,2,0,1083,22,18.18894
9,1.118847e+12,1073,1089,15.309671,2,18.263616,2,0,1083,22,18.18894

In [8]:
dataset['delt_vel'] = dataset.v_a_Vel - dataset.mean_vel

#dataset['delt_vel'] = delta_vel

In [9]:
dataset[:10]

,Timestamp,vIDa,vIDb,dist_ab,v_a_Type,v_a_Vel,v_a_Line,v_a_Pred,v_a_Foll,count,mean_vel,delt_vel
0,1.118847e+12,1073,1077,26.760834,2,18.263616,2,0,1083,22,18.18894,0.074676
1,1.118847e+12,1073,1080,9.739521,2,18.263616,2,0,1083,22,18.18894,0.074676
2,1.118847e+12,1073,1081,19.198605,2,18.263616,2,0,1083,22,18.18894,0.074676
3,1.118847e+12,1073,1082,20.679750,2,18.263616,2,0,1083,22,18.18894,0.074676
4,1.118847e+12,1073,1083,56.396881,2,18.263616,2,0,1083,22,18.18894,0.074676
5,1.118847e+12,1073,1084,40.510313,2,18.263616,2,0,1083,22,18.18894,0.074676
6,1.118847e+12,1073,1086,56.592865,2,18.263616,2,0,1083,22,18.18894,0.074676
7,1.118847e+12,1073,1087,19.093697,2,18.263616,2,0,1083,22,18.18894,0.074676
8,1.118847e+12,1073,1088,83.171880,2,18.263616,2,0,1083,22,18.18894,0.074676
9,1.118847e+12,1073,1089,15.309671,2,18.263616,2,0,1083,22,18.18894,0.074676

In [10]:
np.savetxt('D:\\zzzLola\\PhD\\DataSet\\US101\\test\\dataset.txt',dataset, fmt='%.10e', delimiter='\t', newline='\n')

In [10]:
type(dataset)

pandas.core.frame.DataFrame

In [11]:
del t

NameError: name 't' is not defined

In [ ]:
dataset.groupby(['Timestamp', 'vIDa']).mean()

In [ ]:
v1280 = dataset.loc[dataset['vIDa'] == 1280]

In [ ]:
v1280.groupby('v_a_Line').count()

In [ ]:
for key, grp in dataset.groupby(['Timestamp']):
    plt.plot(grp['vIDa'], label=key)
    grp['mean_vel'] = pd.rolling_mean(grp['vIDa'], window=5)    
    plt.plot(grp['mean_vel'], label='rolling ({k})'.format(k=key))
plt.legend(loc='best')    
plt.show()

NameError: global name 'percentage' is not defined