In [42]:
import numpy as np

In [43]:
import pandas as pd

In [44]:
c_names = ['vID', 'frID', 'tFr','Timestamp', 'localX', 'localY', 'globalX','globalY', 'vLenght', 'vWidth', 'vType', 'veloc','accel', 'line', 'pred', 'foll', 'spac', 'headway', 'dateTime']

data = pd.read_table('D:\\zzzLola\\PhD\\DataSet\\US101\\test\\100ts.txt', sep='\t', header=None, names=c_names)

In [45]:
data.count

<bound method DataFrame.count of          vID  frID  tFr      Timestamp  localX    localY      globalX  \
0       1073  3211  587  1118847300000  20.097  1999.367  6452595.286
1       1073  3212  587  1118847300100  20.025  2005.368  6452600.004
2       1073  3213  587  1118847300200  19.973  2011.314  6452604.649
3       1073  3214  587  1118847300300  19.886  2017.183  6452609.253
4       1073  3215  587  1118847300400  19.817  2023.016  6452613.792
5       1073  3216  587  1118847300500  19.731  2028.885  6452618.396
6       1073  3217  587  1118847300600  19.678  2034.831  6452623.041
7       1073  3218  587  1118847300700  19.606  2040.831  6452627.759
8       1073  3219  587  1118847300800  19.535  2046.858  6452632.453
9       1073  3220  587  1118847300900  19.464  2052.849  6452637.148
10      1073  3221  587  1118847301000  19.393  2058.777  6452641.843
11      1073  3222  587  1118847301100  19.383  2064.687  6452646.538
12      1073  3223  587  1118847301200  19.382  2070.617  6452651.233
13      1073  3224  587  1118847301300  19.383  2076.605  6452655.927
14      1073  3225  587  1118847301400  19.383  2082.618  6452660.622
15      1073  3226  587  1118847301500  19.382  2088.617  6452665.317
16      1073  3227  587  1118847301600  19.382  2094.618  6452670.012
17      1073  3228  587  1118847301700  19.381  2100.622  6452674.707
18      1073  3229  587  1118847301800  19.380  2106.627  6452679.402
19      1073  3230  587  1118847301900  19.376  2112.631  6452684.096
20      1073  3231  587  1118847302000  19.372  2118.632  6452688.791
21      1073  3232  587  1118847302100  19.367  2124.632  6452693.486
22      1077  3211  637  1118847300000   7.393  2086.090  6452670.807
23      1077  3212  637  1118847300100   7.393  2092.585  6452675.893
24      1077  3213  637  1118847300200   7.392  2099.058  6452680.957
25      1077  3214  637  1118847300300   7.375  2105.593  6452686.092
26      1077  3215  637  1118847300400   7.387  2112.099  6452691.152
27      1077  3216  637  1118847300500   7.381  2119.098  6452696.629
28      1077  3217  637  1118847300600   7.377  2125.598  6452701.715
29      1080  3211  559  1118847300000  31.113  1969.918  6452565.130
...      ...   ...  ...            ...     ...       ...          ...
124625  3108  3699  359  1118847348800  13.705  1912.844  6452532.863
124626  3108  3700  359  1118847348900  13.671  1920.024  6452538.357
124627  3108  3701  359  1118847349000  13.715  1927.329  6452543.909
124628  3108  3702  359  1118847349100  13.774  1934.705  6452549.520
124629  3108  3703  359  1118847349200  13.816  1942.094  6452555.112
124630  3108  3704  359  1118847349300  13.858  1949.466  6452560.704
124631  3108  3705  359  1118847349400  13.901  1956.853  6452566.296
124632  3108  3706  359  1118847349500  13.944  1964.221  6452571.888
124633  3108  3707  359  1118847349600  13.986  1971.500  6452577.503
124634  3108  3708  359  1118847349700  14.062  1978.699  6452583.053
124635  3108  3709  359  1118847349800  14.244  1985.878  6452588.536
124636  3108  3710  359  1118847349900  14.406  1993.149  6452594.076
124637  3108  3711  359  1118847350000  14.595  2000.561  6452599.690
124638  3108  3712  359  1118847350100  14.847  2008.085  6452605.362
124639  3108  3713  359  1118847350200  15.064  2015.686  6452611.145
124640  3108  3714  359  1118847350300  15.275  2023.307  6452616.905
124641  3108  3715  359  1118847350400  15.485  2030.915  6452622.665
124642  3108  3716  359  1118847350500  15.694  2038.533  6452628.425
124643  3108  3717  359  1118847350600  15.904  2046.147  6452634.185
124644  3108  3718  359  1118847350700  16.125  2053.696  6452639.969
124645  3108  3719  359  1118847350800  16.369  2061.138  6452645.665
124646  3108  3720  359  1118847350900  16.574  2068.451  6452651.306
124647  3108  3721  359  1118847351000  16.739  2075.683  6452656.853
124648  3108  3722  359  1118847351100  16.711  2082.911  6452662.508
124649  3108  3723  359  1118847351200  16.686  2090.260  6452668.234
124650  3108  3724  359  1118847351300  16.687  2097.765  6452674.097
124651  3108  3725  359  1118847351400  16.689  2105.418  6452680.103
124652  3108  3726  359  1118847351500  16.746  2113.184  6452686.167
124653  3108  3727  359  1118847351600  16.741  2121.184  6452692.426
124654  3108  3728  359  1118847351700  16.734  2129.183  6452698.686

            globalY  vLenght  vWidth  vType  veloc  accel  line  pred  foll  \
0       1872026.290     12.5     5.0      2  59.92  -1.71     2     0  1083
1       1872022.536     12.5     5.0      2  59.60  -4.46     2     0  1083
2       1872018.817     12.5     5.0      2  59.14  -5.47     2     0  1083
3       1872015.175     12.5     5.0      2  58.78  -2.54     2     0  1083
4       1872011.563     12.5     5.0      2  58.78   2.52     2     0  1083
5       1872007.921     12.5     5.0      2  59.14   5.47     2     0  1083
6       1872004.202     12.5     5.0      2  59.60   4.46     2     0  1083
7       1872000.448     12.5     5.0      2  59.91   1.71     2     0  1083
8       1871996.712     12.5     5.0      2  59.90  -2.03     2     0  1083
9       1871992.976     12.5     5.0      2  59.60  -3.95     2     0  1083
10      1871989.240     12.5     5.0      2  59.39  -1.76     2     0  1083
11      1871985.504     12.5     5.0      2  59.39   1.79     2     0  1083
12      1871981.768     12.5     5.0      2  59.59   3.72     2     0  1083
13      1871978.031     12.5     5.0      2  59.88   1.98     2     0  1083
14      1871974.295     12.5     5.0      2  60.00   0.00     2     0  1083
15      1871970.559     12.5     5.0      2  60.01   0.12     2     0  1083
16      1871966.823     12.5     5.0      2  60.02   0.22     2     0  1083
17      1871963.087     12.5     5.0      2  60.04   0.10     2     0  1083
18      1871959.351     12.5     5.0      2  60.04  -0.10     2     0  1083
19      1871955.615     12.5     5.0      2  60.04   0.00     2     0  1083
20      1871951.878     12.5     5.0      2  60.04   0.00     2     0  1083
21      1871948.142     12.5     5.0      2  60.04   0.00     2     0  1083
22      1871981.512     13.0     5.9      2  64.98  -0.04     1     0  1082
23      1871977.465     13.0     5.9      2  65.00   0.46     1     0  1082
24      1871973.436     13.0     5.9      2  65.30   4.71     1     0  1082
25      1871969.370     13.0     5.9      2  65.93   8.08     1     0  1082
26      1871965.322     13.0     5.9      2  65.93   0.00     1     0  1082
27      1871960.964     13.0     5.9      2  65.93   0.00     1     0  1082
28      1871956.916     13.0     5.9      2  65.93   0.00     1     0  1082
29      1872036.857     13.0     5.9      2  56.89  -5.70     3     0  1084
...             ...      ...     ...    ...    ...    ...   ...   ...   ...
124625  1872087.050      7.0     3.0      1  71.44   9.02     2  1215  1219
124626  1872082.435      7.0     3.0      1  72.34  10.02     2  1215  1219
124627  1872077.669      7.0     3.0      1  73.14   6.54     2  1215  1219
124628  1872072.833      7.0     3.0      1  73.59   2.22     2  1215  1219
124629  1872068.034      7.0     3.0      1  73.73  -0.17     2  1215  1219
124630  1872063.236      7.0     3.0      1  73.72  -0.07     2  1215  1219
124631  1872058.437      7.0     3.0      1  73.57  -2.32     2  1215  1219
124632  1872053.638      7.0     3.0      1  73.11  -6.29     2  1215  1219
124633  1872048.821      7.0     3.0      1  72.59  -5.91     2  1215  1219
124634  1872044.050      7.0     3.0      1  72.34  -0.30     2  1215  1219
124635  1872039.346      7.0     3.0      1  72.63   7.25     2  1215  1219
124636  1872034.620      7.0     3.0      1  73.51  10.97     2  1215  1219
124637  1872029.799      7.0     3.0      1  74.55  10.14     2  1215  1219
124638  1872024.849      7.0     3.0      1  75.37   7.05     2  1215  1219
124639  1872019.854      7.0     3.0      1  75.87   2.79     2  1215  1219
124640  1872014.886      7.0     3.0      1  76.05   0.10     2  1215  1219
124641  1872009.919      7.0     3.0      1  76.07   0.03     2     0  1215
124642  1872004.952      7.0     3.0      1  75.96  -1.63     2     0  1215
124643  1871999.985      7.0     3.0      1  75.54  -5.97     2     0  1215
124644  1871994.985      7.0     3.0      1  74.81  -9.44     2     0  1215
124645  1871990.050      7.0     3.0      1  73.88 -10.07     2     0  1215
124646  1871985.299      7.0     3.0      1  73.07  -6.37     2     0  1215
124647  1871980.673      7.0     3.0      1  72.79   0.00     2     0  1215
124648  1871976.208      7.0     3.0      1  73.19   7.82     2     0  1215
124649  1871971.683      7.0     3.0      1  74.25  11.20     2     0  1215
124650  1871967.016      7.0     3.0      1  75.77  11.20     2     0  1215
124651  1871962.233      7.0     3.0      1  77.35  11.20     2     0  1215
124652  1871957.327      7.0     3.0      1  77.35   0.00     2     0  1215
124653  1871952.345      7.0     3.0      1  77.35   0.00     2     0  1215
124654  1871947.364      7.0     3.0      1  77.35   0.00     2     0  1215

         spac  headway  dateTime
0        0.00     0.00       NaN
1        0.00     0.00       NaN
2        0.00     0.00       NaN
3        0.00     0.00       NaN
4        0.00     0.00       NaN
5        0.00     0.00       NaN
6        0.00     0.00       NaN
7        0.00     0.00       NaN
8        0.00     0.00       NaN
9        0.00     0.00       NaN
10       0.00     0.00       NaN
11       0.00     0.00       NaN
12       0.00     0.00       NaN
13       0.00     0.00       NaN
14       0.00     0.00       NaN
15       0.00     0.00       NaN
16       0.00     0.00       NaN
17       0.00     0.00       NaN
18       0.00     0.00       NaN
19       0.00     0.00       NaN
20       0.00     0.00       NaN
21       0.00     0.00       NaN
22       0.00     0.00       NaN
23       0.00     0.00       NaN
24       0.00     0.00       NaN
25       0.00     0.00       NaN
26       0.00     0.00       NaN
27       0.00     0.00       NaN
28       0.00     0.00       NaN
29       0.00     0.00       NaN
...       ...      ...       ...
124625  24.05     0.34       NaN
124626  22.55     0.31       NaN
124627  20.93     0.29       NaN
124628  19.24     0.26       NaN
124629  17.58     0.24       NaN
124630  16.01     0.22       NaN
124631  14.43     0.20       NaN
124632  12.77     0.17       NaN
124633  11.17     0.15       NaN
124634   9.72     0.13       NaN
124635   8.45     0.12       NaN
124636   7.19     0.10       NaN
124637   5.79     0.08       NaN
124638   4.28     0.06       NaN
124639   2.67     0.04       NaN
124640   1.05     0.01       NaN
124641   0.00     0.00       NaN
124642   0.00     0.00       NaN
124643   0.00     0.00       NaN
124644   0.00     0.00       NaN
124645   0.00     0.00       NaN
124646   0.00     0.00       NaN
124647   0.00     0.00       NaN
124648   0.00     0.00       NaN
124649   0.00     0.00       NaN
124650   0.00     0.00       NaN
124651   0.00     0.00       NaN
124652   0.00     0.00       NaN
124653   0.00     0.00       NaN
124654   0.00     0.00       NaN

[124655 rows x 19 columns]>

In [46]:
data[:10]

,vID,frID,tFr,Timestamp,localX,localY,globalX,globalY,vLenght,vWidth,vType,veloc,accel,line,pred,foll,spac,headway,dateTime
0,1073,3211,587,1118847300000,20.097,1999.367,6452595.286,1872026.290,12.5,5,2,59.92,-1.71,2,0,1083,0,0,NaN
1,1073,3212,587,1118847300100,20.025,2005.368,6452600.004,1872022.536,12.5,5,2,59.60,-4.46,2,0,1083,0,0,NaN
2,1073,3213,587,1118847300200,19.973,2011.314,6452604.649,1872018.817,12.5,5,2,59.14,-5.47,2,0,1083,0,0,NaN
3,1073,3214,587,1118847300300,19.886,2017.183,6452609.253,1872015.175,12.5,5,2,58.78,-2.54,2,0,1083,0,0,NaN
4,1073,3215,587,1118847300400,19.817,2023.016,6452613.792,1872011.563,12.5,5,2,58.78,2.52,2,0,1083,0,0,NaN
5,1073,3216,587,1118847300500,19.731,2028.885,6452618.396,1872007.921,12.5,5,2,59.14,5.47,2,0,1083,0,0,NaN
6,1073,3217,587,1118847300600,19.678,2034.831,6452623.041,1872004.202,12.5,5,2,59.60,4.46,2,0,1083,0,0,NaN
7,1073,3218,587,1118847300700,19.606,2040.831,6452627.759,1872000.448,12.5,5,2,59.91,1.71,2,0,1083,0,0,NaN
8,1073,3219,587,1118847300800,19.535,2046.858,6452632.453,1871996.712,12.5,5,2,59.90,-2.03,2,0,1083,0,0,NaN
9,1073,3220,587,1118847300900,19.464,2052.849,6452637.148,1871992.976,12.5,5,2,59.60,-3.95,2,0,1083,0,0,NaN

In [47]:
counts = data.groupby('vID').size()

In [48]:
counts

vID
1073     22
1077      7
1080     28
1081     14
1082     31
1083     55
1084     46
1086     50
1087     12
1088     71
1089     28
1090     67
1091     61
1092     44
1093     77
1094    108
1095     80
1096    107
1097     86
1098     48
1099    100
1100    119
1101    124
1102     94
1103     60
1104    109
1105    127
1106    135
1107    109
1108    143
       ...
1518     89
1519    126
1520     95
1521    195
1522     73
1523     74
1524    170
1525     59
1526    108
1527     26
1528     45
1529    146
1530      4
1531     23
1533    111
1534     90
1535     50
1536      9
1537     23
1538     70
1539     77
1540      7
1548     43
1549     50
1551     10
1554     29
1556      2
3106    275
3107    227
3108    359
dtype: int64

In [49]:
ids = pd.DataFrame(counts, columns = ['size'])

In [50]:
ids = ids[ids['size']>1]

In [51]:
ids.index

Int64Index([1073, 1077, 1080, 1081, 1082, 1083, 1084, 1086, 1087, 1088,
            ...
            1539, 1540, 1548, 1549, 1551, 1554, 1556, 3106, 3107, 3108],
           dtype='int64', name=u'vID', length=369)

In [52]:
ids

      size
vID
1073    22
1077     7
1080    28
1081    14
1082    31
1083    55
1084    46
1086    50
1087    12
1088    71
1089    28
1090    67
1091    61
1092    44
1093    77
1094   108
1095    80
1096   107
1097    86
1098    48
1099   100
1100   119
1101   124
1102    94
1103    60
1104   109
1105   127
1106   135
1107   109
1108   143
...    ...
1518    89
1519   126
1520    95
1521   195
1522    73
1523    74
1524   170
1525    59
1526   108
1527    26
1528    45
1529   146
1530     4
1531    23
1533   111
1534    90
1535    50
1536     9
1537    23
1538    70
1539    77
1540     7
1548    43
1549    50
1551    10
1554    29
1556     2
3106   275
3107   227
3108   359

[369 rows x 1 columns]

In [53]:
ids.describe()

             size
count  369.000000
mean   337.818428
std    168.073150
min      2.000000
25%    195.000000
50%    369.000000
75%    489.000000
max    600.000000

In [54]:
counts2 = data.groupby('Timestamp').size()

In [55]:
counts2.index

Int64Index([1118847300000, 1118847300100, 1118847300200, 1118847300300,
            1118847300400, 1118847300500, 1118847300600, 1118847300700,
            1118847300800, 1118847300900,
            ...
            1118847399000, 1118847399100, 1118847399200, 1118847399300,
            1118847399400, 1118847399500, 1118847399600, 1118847399700,
            1118847399800, 1118847399900],
           dtype='int64', name=u'Timestamp', length=1000)

In [56]:
counts2.max()

138

In [58]:
counts2.min()

116

In [57]:
counts2.mean()

124.655

In [29]:
counts3 = data.groupby(['Timestamp','vID']).mean()

In [30]:
counts3[350:351]

,,frID,tFr,localX,localY,globalX,globalY,vLenght,vWidth,vType,veloc,accel,line,pred,foll,spac,headway,dateTime
Timestamp,vID,,,,,,,,,,,,,,,,,
1118846985300,14,64,515,50.008,175.623,6451208.678,1873218.081,24,8.5,3,39.54,7.76,5,0,18,0,0,NaN

In [31]:
t_v = pd.DataFrame(counts3, columns = ['frID', 'tFr', 'localX', 'localY', 'globalX','globalY', 'vLenght', 'vWidth', 
                                       'vType', 'veloc','accel', 'line', 'pred', 'foll', 'spac', 'headway'])

In [41]:
t_v[67777:67779]

                   frID  tFr  localX    localY      globalX      globalY  \
Timestamp     vID
1118847058800 232   799  606   7.505   998.287  6451847.821  1872693.234
              233   799  438  50.605  1099.633  6451895.926  1872594.168

                   vLenght  vWidth  vType  veloc  accel  line  pred  foll  \
Timestamp     vID
1118847058800 232       17     6.4      2  21.15  -0.06     1   223   239
              233       15     5.4      2  50.00   0.00     5   231   246

                    spac  headway
Timestamp     vID
1118847058800 232  48.93     2.31
              233  64.10     1.28

In [36]:
time_pres = data.groupby('tFr').size()

In [37]:
time_pres.describe

<bound method Series.describe of tFr
177      177
178      178
245      245
246      246
250      250
251      251
253      253
254      254
255      510
258      258
259      518
260      260
261      261
263      789
264      264
268      804
269      269
270      270
271      813
273      273
275      275
276     1104
277      277
279      279
280     1120
282      282
283      566
284      284
286      858
287      287
        ...
933     2799
935     1870
936      936
937      937
939      939
941     1882
942     1884
944      944
945      945
946     2838
947     1894
948     2844
951      951
952      952
954     2862
956      956
957      957
958      958
960     2880
961      961
962      962
964      964
965      965
967      967
968      968
975      975
977      977
979      979
986      986
1010    1010
dtype: int64>

In [38]:
time_pres.mean()

1984.198319327731