In [4]:
from pandas import DataFrame, Series
import pandas as pd

In [5]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})

In [6]:
df2 = DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [7]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [8]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [9]:
pd.merge(df1, df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0